# Project
works/
src/db/db_seed.py
*.ps1

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
.Python
alembic.ini
.env
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/
dist/
build/
develop-eggs/
.installed.cfg
*.manifest
*.spec
.mypy_cache/
.dmypy.json
.pytest_cache/
.coverage
htmlcov/

# C / C++
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.i
*.ii
*.s
*.su
*.idb
*.pdb
*.mod
*.cmd
*.d
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Bash / Shell
*.log
*.tmp
*.swp

# Test artifacts
test-results/
reports/

# Docker
.dockerignore
docker-compose.override.yml
*~

# IDE
.vscode/
.idea/
*.iml

# Miscellaneous
*.bak
*.old
